{% extends "wikipedia\base.html" %}
  {% block content %}
    <div class="row">
        <div class="col-2"></div>

        <div class="col-7 border border-2 border-dark ">

            <div class="container p-2">
                <div class="row">
                    <div class="col-9 border">
                        <legend class="border-bottom mb-4 text-center"> Profile overview  </legend>

                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td>
                                    Username: {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Creation date: {{ user.date_joined|date:"d M Y" }}
                                </td>
                                <td>
                                    Last Login: {{ user.last_login|date:"d M Y" }}
                                </td>
                            </tr>
                            <tr>
                                {% if user.is_superuser %}
                                <td>
                                    <span >Group: </span>
                                    <span class="text-danger">Admin</span>
                                </td>
                                {% else %}
                                <td>
                                    <span >Group: {{ Profile.group }} </span>
                                    <span class="text-success">User</span>
                                </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        <legend class="border-bottom mb-4 text-start fs-5"> Personal info overview  </legend>
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td>
                                    Name and Surname: {{ profile.Name }} {{ profile.surname }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Age: {{ profile.Age }}
                                </td>
                                <td>
                                    Gender: {{ profile.get_gender_display }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Kierunek: {{ profile.kierunek }}
                                </td>
                                <td>
                                    Semester: {{ profile.get_semestr_display }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class="text-break">Bio: {{ profile.bio }}</p>
                                </td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <a href="{% url 'edit' %}" class="btn btn-sm border">Edit Profile</a>
                            <a href="{% url 'user_privacy' %}" class="btn btn-sm border">Profile privacy settings</a>
                            <a href="{% url 'changepassword' %}" class="btn btn-sm border">Change Password</a>
                            <a href="{% url 'delete' user.id %}" class="btn btn-sm border border-danger">Delete Account</a>
                        </div>
                    </div>
                    <div class="col-3 border">
                        <div class="row">
                            <p>Here will be your profile picture in future :D</p>
                        </div>
                        <div class="row"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

